@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap");
@import "tailwindcss";

:root {
  --background: #EAEFEF;
}

@theme inline {
  --font-sans: "General Sans", "Segoe UI", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: #FF9B51;
  --color-foreground: #18181B;
  --color-muted: #71717B;
  --color-baseBlue: #25343F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: ##EAEFEF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "General Sans", "Segoe UI", sans-serif;
}
